In [1]:
import numpy as np
import pandas as pd
import pprint
# import pandas_profiling as pp

# data frame
# df = pd.read_csv('')

# Pandas
built on NumPy

# Magic Commands
 start with %
 
 ex. %debug

In [5]:
pd.__version__

'1.1.0'

In [10]:
pd? #documentation

In [13]:
# pd.<
# pd.<TAB>

In [21]:
data = pd.Series([.25,.5,.75,1.0],
                index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [16]:
#nonsequential indices allowed 
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data[2]

0.25

In [6]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [7]:
population['California']

38332521

In [9]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [22]:
# numpy has implicitly defined integer index
# pandas series has explicitly defined index value

# explicitly defined integer indices not used for splicing
# splicing based off default (implicit) index
population[0:3]

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [25]:
area = {'California': 10000,
                   'Texas': 20000,
                   'New York': 30000,
                   'Florida': 40000,
                   'Illinois': 50000}
states = pd.DataFrame({'population': population,
                      'area': area})
states

            population   area
California    38332521  10000
Texas         26448193  20000
New York      19651127  30000
Florida       19552860  40000
Illinois      12882135  50000

In [26]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [27]:
states.columns

Index(['population', 'area'], dtype='object')

In [30]:
states['area']

California    10000
Texas         20000
New York      30000
Florida       40000
Illinois      50000
Name: area, dtype: int64

In [31]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [32]:
dfFromDict = [{'a': i, 'b': 2 * i}
             for i in range(3)]
pd.DataFrame(dfFromDict)

   a  b
0  0  0
1  1  2
2  2  4

In [36]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [34]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [35]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [37]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [41]:
# masking
data[(data > .3) & (data < .8)]

b    0.50
c    0.75
dtype: float64

In [42]:
# exlicit index splice - loc
#data.loc[1:3]

# implicit index splice - iloc
#data.iloc[1:3]

In [43]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [44]:
data['pop']
data.area
data.area is data['area']
data.pop is data['pop']
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [ ]:
# ix used for both implicit/explicit indices
# data.ix[::]